@font-face {
    font-family: 'MainFont';
    src: url('../../fonts/TTHoves-Regular.ttf') ;
    font-weight: 400;
}

@font-face {
    font-family: 'Bold';
    src: url('../../fonts/TTHoves-Bold.ttf') ;
    font-weight: 700;
}

@font-face {
    font-family: 'Light';
    src: url('../../fonts/TTHoves-Light.ttf') ;
    font-weight: 300;
}

@font-face{
    font-family: 'Num';
    src: url('../../fonts/SF-Pro-Display-Black.otf') ;
    font-weight: 900;
}