.about {
    @include flexbox($jc: space-between);
    background-color: #FBFBFB;
    &__img {
        @include flexbox($ai: center);
        width: 60%;
        gap: 20px;

        &-item{
            &:first-child{
                @include flexbox($dir: column);
                gap: 20px;
            }
        }
    }

    &__info {
        @include flexbox();
        gap: 20px;
        width: 40%;
        &-text {
            p{
                color: #000;
                font-family: 'Light';
                font-size: 16px;
                line-height: 25px; 
            }
        }
    }
}

@media screen and (max-width: 1170px) {
    .about{
        flex-direction: column-reverse;
        &__img,&__info{
            width: 90%;
        }
    }
}
